<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bonjour Mr {{ user.lastName}}</h1>
    <p>suite a votre inscription veuillez valider votre mail SVP</p>

    <a href="http://localhost:8000/trellolike/web/app_dev.php/validate/{{ user.token }}">VALIDATION</a>

  </body>
</html>
