<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Bonjour Mr {{ user.lastName}}</h1>
    <p>suite a votre validation votre compte a bien été activer</p>



  </body>
</html>
